<INCLUDE>
/var/mailman/mhonarc/private-rc/date.rc
/var/mailman/mhonarc/private-rc/thread.rc
/var/mailman/mhonarc/private-rc/message.rc
</INCLUDE>

<!-- This tells Mhonarc to create the separate author index  -->
<!-- unfortunately, it's not directly accessible by next and -->
<!-- prev buttons :(                                         -->
<OTHERINDEXES>
/var/mailman/mhonarc/private-rc/author.rc
</OTHERINDEXES>

<!-- We don't need spam protections on private list archives -->

<-- <SPAMMODE> 
</SPAMMODE> -->

<!-- Put up a little barrier against automatically harvesting           -->
<!-- addresses, but keep things reasonably easy for a human to decipher -->
<!-- 
<ADDRESSMODIFYCODE>
s/\./ /g; s/@/ /g;
</ADDRESSMODIFYCODE>

<NOMAILTO>
</NOMAILTO>
-->
